@import "tailwindcss";

@theme {
  --color-child-primary: #FFD700;
  --color-child-secondary: #FF69B4;
  --color-parent-primary: #4682B4;
  --color-parent-secondary: #87CEEB;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
  background-color: #f0f0f0;
}

#root {
  width: 100vw;
  height: 100vh;
}
